<!DOCTYPE html>
<html>
<head>
    <title>AI Study Assistant</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>


<div class="container">
<body>

<div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
    <h1>📚 AI Study Assistant</h1>

<div class="badge">
    AI Powered Learning Tool
</div>
    <h3>by Ayush Vardhan Singh</h3>

    <p>
        Transform PDF notes into Flashcards,
        MCQs and Interactive Quizzes using AI.
    </p>

    <div style="margin-top:20px;">

    <a href="https://ai-study-generator.onrender.com"
       target="_blank">

        <button>
            🚀 Live Demo
        </button>

    </a>

</div>

    <form action="/upload"
          method="POST"
          enctype="multipart/form-data">

        <p style="margin-bottom:10px;">
        📄 Upload your PDF Notes
    </p>

        <input type="file"
            class="file-upload"
            name="pdf"
            accept=".pdf"
            required>

        <br><br>

        <label>
            <input type="radio"
                   name="mode"
                   value="flashcards"
                   checked>
            📚 Flashcards
        </label>

        <br><br>

        <label>
            <input type="radio"
                   name="mode"
                   value="mcqs">
            📝 MCQs
        </label>

        <br><br>

        <label>
            <input type="radio"
                   name="mode"
                   value="quiz">
            🎯 Quiz Mode
        </label>

        <br><br>

        <button type="submit">
            Generate with AI
        </button>

    </form>

    <br><br>

    <div class="features">

        <div class="card">
            <h3>📚 Flashcards</h3>
            <p>Generate study cards instantly.</p>
        </div>

        <div class="card">
            <h3>📝 MCQs</h3>
            <p>Practice AI-generated questions.</p>
        </div>

        <div class="card">
            <h3>🎯 Quiz Mode</h3>
            <p>Test yourself and get scores.</p>
        </div>

        <div class="card">
            <h3>📄 PDF Export</h3>
            <p>Download reports anytime.</p>
        </div>

    </div>

    <br>
    <div class="stats">

    <div class="stat-box">
        <h2>3</h2>
        <p>Study Modes</p>
    </div>

    <div class="stat-box">
        <h2>AI</h2>
        <p>Powered</p>
    </div>

    <div class="stat-box">
        <h2>PDF</h2>
        <p>Export Support</p>
    </div>

    <div class="stat-box">
        <h2>24/7</h2>
        <p>Available Online</p>
    </div>

</div>

    <footer>

        <p>
            Built by Ayush Vardhan Singh
        </p>

        <p>
            Website Visitors
        </p>

    <img
    src="https://api.visitorbadge.io/api/visitors?path=https%3A%2F%2Fai-study-generator.onrender.com&label=VISITORS&countColor=%23263759"
    />

        <p>

            <a href="https://github.com/AyushVardhanOG"
               target="_blank">
               GitHub
            </a>

            |

            <a href="https://www.linkedin.com/in/ayush-vardhan-singh/"
               target="_blank">
               LinkedIn
            </a>

        </p>

    </footer>

</div>

</body>
</html>