<!DOCTYPE html>
<html>
<head>
    <title>AI Study Assistant</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>📚 AI Study Assistant</h1>

    <p>
        Upload your notes and let AI generate Flashcards or MCQs.
    </p>

    <form action="/upload"
          method="POST"
          enctype="multipart/form-data">

        <input type="file"
               name="pdf"
               accept=".pdf"
               required>

        <br><br>

        <label>
            <input type="radio"
                   name="mode"
                   value="flashcards"
                   checked>
            Generate Flashcards
        </label>

        <br><br>

        <label>
            <input type="radio"
                   name="mode"
                   value="mcqs">
            Generate MCQs
        </label>

        <br><br>

        <button type="submit">
            Generate
        </button>

    </form>

</div>

</body>
</html>