<!DOCTYPE html>
<html>
<head>
    <title>AI Study Assistant</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>📚 AI Study Assistant</h1>

<div class="badge">
    AI Powered Learning Tool
</div>
    <h3>by Ayush Vardhan Singh</h3>

    <p>
        Transform PDF notes into Flashcards,
        MCQs and Interactive Quizzes using AI.
    </p>

    <form action="/upload"
          method="POST"
          enctype="multipart/form-data">

        <input type="file"
               name="pdf"
               accept=".pdf"
               required>

        <br><br>

        <label>
            <input type="radio"
                   name="mode"
                   value="flashcards"
                   checked>
            📚 Flashcards
        </label>

        <br><br>

        <label>
            <input type="radio"
                   name="mode"
                   value="mcqs">
            📝 MCQs
        </label>

        <br><br>

        <label>
            <input type="radio"
                   name="mode"
                   value="quiz">
            🎯 Quiz Mode
        </label>

        <br><br>

        <button type="submit">
            Generate with AI
        </button>

    </form>

    <br><br>

    <div class="features">

        <div class="card">
            <h3>📚 Flashcards</h3>
            <p>Generate study cards instantly.</p>
        </div>

        <div class="card">
            <h3>📝 MCQs</h3>
            <p>Practice AI-generated questions.</p>
        </div>

        <div class="card">
            <h3>🎯 Quiz Mode</h3>
            <p>Test yourself and get scores.</p>
        </div>

        <div class="card">
            <h3>📄 PDF Export</h3>
            <p>Download reports anytime.</p>
        </div>

    </div>

    <br>

    <footer>

        <p>
            Built by Ayush Vardhan Singh
        </p>

        <p>

            <a href="https://github.com/AyushVardhanOG"
               target="_blank">
               GitHub
            </a>

            |

            <a href="https://www.linkedin.com/in/ayush-vardhan-singh/"
               target="_blank">
               LinkedIn
            </a>

        </p>

    </footer>

</div>

</body>
</html>