<!DOCTYPE html>
<html>
<head>
    <title>MCQ Practice</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>📝 MCQ Practice</h1>

    <p>
        Try solving first, then reveal the answer.
    </p>

    {% for mcq in mcqs %}

    <div class="card">

        <pre>{{ mcq.question }}</pre>

        <details>

            <summary>Show Answer</summary>

            <p>
                Correct Answer:
                {{ mcq.answer }}
            </p>

        </details>

    </div>

    {% endfor %}

    <a href="/">
        <button>
            Generate More MCQs
        </button>
    </a>

</div>

</body>
</html>