<!DOCTYPE html>
<html>
<head>
    <title>Quiz Mode</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>📝 Quiz Mode</h1>

    <form action="/submit_quiz" method="POST">

        {% for question in questions %}

        <div class="card">

            <h2 class="quiz-question">
                {{ question.question }}
            </h2>

            {% for option in question.options %}

            <label class="option-box">

                <input
                    type="radio"
                    name="q{{ question.question }}"
                    value="{{ option[0] }}"
                    required>

                {{ option }}

            </label>

            {% endfor %}

        </div>

        {% endfor %}

        <button type="submit">
            Submit Quiz
        </button>

    </form>

</div>

</body>
</html>